@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animate-fade-in-up {
    animation: fadeInUp 0.7s ease-out forwards;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
